@page "/Criar_leilao"

@code {
    private int id;
    private int id_criador;
    private string descricao;
    private decimal preco_inicial;
    private decimal preco_reserva;
    private DateTime data_inicio;
    private int duracao;

    List<object> templates = new List<object>(); 

    void AddTemplate() {
        templates.Add(new object());
    }
}

<PageTitle>Criar Leilão</PageTitle>

<h1>Criar Leilão</h1>

<div class="auction-templates-container">
    <div class="auction-info-container">
        <div class="auction-input">
            <textarea class="description" rows="6" cols="50" placeholder="Descrição Máx: 280 carateres" maxlength="280" @bind="@descricao" required />
        </div>

        <div class="info-row">
            <div class="auction-input">
                <label for="initial-price">Preço inicial:</label>
                <input class="input" name="initial_price" type="number" step="0.01" @bind="@preco_inicial" required />
            </div>

            <div class="auction-input">
                <label for="reserve-price">Preço de reserva:</label>
                <input class="input" name="reserve_price" type="number" step="0.01" @bind="@preco_reserva" required />
            </div>
        </div>

        <div class="info-row">
            <div class="auction-input">
                <label for="duration">Duração:</label>
                <input class="input" name="duration" type="number"  placeholder="Em Horas" step="1" @bind="@duracao" required />
            </div>

            <div class="auction-input">
                <label for="start-date">Data de início:</label>
                <input class="input" name="start_date" type="date" @bind="@data_inicio" required />
            </div>
        </div>

        <div class="info-row">
            <div class="auction-input">
                <label for="start-time">Hora de início:</label>
                <input class="input" name="start_time" type="time" required />
            </div>

            <div class="submit-button auction-input">Submeter</div>
        </div>
    </div>

    <div class="templates-container">
        @if (templates.Count == 0) {
            <Leilao_template />
        }
        else {
            @foreach (var template in templates) {
                <Leilao_template />
            }
        }

        <div class="add-template-button" @onclick="AddTemplate">
            <img src="/imgs/plus.png" style="height: 40px;">
        </div>
    </div>
</div>