@page "/Pagina_pesquisa"
@using System;

@code {
    public int id { get; set; }
    public string arma { get; set; }
    public string skin { get; set; }
    public string raridade { get; set; }
    public string condicao { get; set; }
    public double preco_maximo { get; set; }
    // Arranjar maneira de meter o tempo

    void UpdateUI() {
        StateHasChanged();
    }

    bool showSearchInput() {
        return id!=0 || !string.IsNullOrEmpty(arma) || !string.IsNullOrEmpty(skin) || !string.IsNullOrEmpty(raridade) || !string.IsNullOrEmpty(condicao) || preco_maximo!=0;
    }
}

<PageTitle>Pesquisar leilão</PageTitle>

<div class="search-container">
    <h1>Pesquisar Leilões</h1>

    <div class="search-input-container">
        <div class="search-input">
            <label for="id">ID: </label>
            <input class="search-input" type="number" @bind="@id"  />
        </div>

        <div class="input-container-row">
            <div class="search-input">
                <select name="weapon" @bind="@arma">
                    <option value="" disabled selected hidden>Arma/Luva/Faca</option>
                    <option value="AK-47">AK-47</option>
                    <option value="M4A1">M4A1</option>
                    <option value="AWP">AWP</option>
                    <option value="Desert Eagle">Desert Eagle</option>
                    <option value="USP-S">USP-S</option>
                    <option value="Glock-18">Glock-18</option>
                    <option value="P250">P250</option>
                    <option value="FAMAS">FAMAS</option>
                    <option value="Galil AR">Galil AR</option>
                    <option value="AUG">AUG</option>
                    <option value="SG 553">SG 553</option>
                    <option value="M249">M249</option>
                    <option value="Negev">Negev</option>
                    <option value="MP9">MP9</option>
                    <option value="MAC-10">MAC-10</option>
                    <option value="UMP-45">UMP-45</option>
                    <option value="P90">P90</option>
                    <option value="PP-Bizon">PP-Bizon</option>
                    <option value="XM1014">XM1014</option>
                    <option value="MAG-7">MAG-7</option>
                    <option value="Sawed-Off">Sawed-Off</option>
                    <option value="Nova">Nova</option>
                    <option value="SCAR-20">SCAR-20</option>
                    <option value="G3SG1">G3SG1</option>
                    <option value="Luva">Luva</option>
                    <option value="M9 Bayonet">M9 Bayonet</option>
                    <option value="Karambit">Karambit</option>
                    <option value="Butterfly Knife">Butterfly Knife</option>
                </select>
            </div>

            <div class="search-input">
                <input type="text" placeholder="Skin" @bind="@skin" />
            </div>
        </div>

        <div class="input-container-row">
            <div class="search-input">
                <select name="rarity" @bind="@raridade">
                    <option value="" disabled selected hidden>Raridate</option>
                    <option value="Cinzento">Cinzento</option>
                    <option value="Azul-Claro">Azul-Claro</option>
                    <option value="Azul">Azul</option>
                    <option value="Roxo">Roxo</option>
                    <option value="Rosa">Rosa</option>
                    <option value="Vermelho">Vermelho</option>
                    <option value="Dourado">Dourado</option>
                </select>
            </div>

            <div class="search-input">
                <select name="condition" @bind="@condicao">
                    <option value="" disabled selected hidden>Condição</option>
                    <option value="Factory-New">Factory-New</option>
                    <option value="Minimal-Wear">Minimal-wear</option>
                    <option value="Field-Tested">Field-Tested</option>
                    <option value="Well-Worn">Well-Worn</option>
                    <option value="Battle-Scarred">Battle-Scarred</option>
                </select>
            </div>
        </div>

        <div class="input-container-row">
            <div class="search-input">
                <label for="preco_maximo">Preço máximo: </label>
                <input name="preco_maximo" type="number" step="0.01" placeholder="0" @bind="@preco_maximo" />
            </div>

            <div class="search-input">
                <label for="tempo">Tempo para acabar: </label>
                <input name="tempo" type="time" placeholder="Tempo para acabar" />
            </div>
        </div>

        <div class="search-button" onclick="UpdateUI">Pesquisar</div>
    </div>

    <div class="search-results-container">
        @if (showSearchInput()) {
            <h1>Resultados de pesquisa</h1>

            <div class="show-search-input-container">
                <div class="show-search-input">
                    @if (id != 0) { <span class="input-type">ID: </span>@id }
                    @if (!string.IsNullOrEmpty(arma)) { <span class="input-type">Arma: </span>@arma }
                    @if (!string.IsNullOrEmpty(skin)) { <span class="input-type">Skin: </span>@skin }
                    @if (!string.IsNullOrEmpty(raridade)) { <span class="input-type">Raridade: </span>@raridade }
                    @if (!string.IsNullOrEmpty(condicao)) { <span class="input-type">Condição: </span>@condicao }
                    @if (preco_maximo != 0) { <span class="input-type">Preço Máximo: </span>@preco_maximo }
                    <!-- Meter aqui o tempo --> 
                </div>
            </div>

            <div class="search-results">
                <Leilao_card />

                <Leilao_card />

                <Leilao_card />

                <Leilao_card />

                <Leilao_card />

                <Leilao_card />

                <Leilao_card />

                <Leilao_card />

                <Leilao_card />

                <Leilao_card />

                <Leilao_card />
            </div>
        }
    </div>
</div>