@page "/Pagina_leilao"

@inject NavigationManager NavigationManager

@code {
    [Parameter]
    public int id_leilao { get; set; }

    public Leilao leilao;

    public List<Artigo> skins = new List<Artigo>();

    public string descricao;

    public decimal preco_minimo;

    public int? licitacao_atual;  // id do lance mais alto

    public decimal valor_licitacao_atual;

    public string nome_highest_bidder;

    public DateTime data_fim;

    public TimeSpan tempo_restante;

    public decimal input_licitacao;

    public bool terminado = false;

    public bool iniciado = false;

    public bool licitacao_valida = true;

    public bool favorito;

    IDatabaseFacade db = new DatabaseFacade();

    protected override void OnInitialized()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryString = uri.Query;

        if (queryString.Contains("id_leilao")) {
            var queryParams = System.Web.HttpUtility.ParseQueryString(queryString);
            id_leilao = int.Parse(queryParams["id_leilao"]);

            leilao = db.get_Leilao(id_leilao);

            skins = db.get_artigos_leilao(id_leilao);
            descricao = leilao.getDescricao();
            preco_minimo = leilao.getPrecoMinimo();

            DateTime data_inicio = leilao.getDataHoraInicial();
            int duracao = leilao.getDuracao();
            data_fim = data_inicio.AddMinutes(duracao);
            tempo_restante = data_fim.Subtract(DateTime.Now);
            if (tempo_restante.TotalSeconds < 0) terminado = true;
            if (data_inicio > DateTime.Now) iniciado = false;
            else iniciado = true;

            licitacao_atual = leilao.getIdLanceAtual();
            if (licitacao_atual != null) {
                Lance lance = db.get_Lance((int)licitacao_atual);
                valor_licitacao_atual = lance.getValor();
                nome_highest_bidder = db.get_Pessoa(lance.getId_Licitador()).getNickname();
            }

            if (terminado) {
                tempo_restante = new TimeSpan(0, 0, 0);
                iniciado = false;
            }

            favorito = db.e_favorito(id_leilao, CurrentUser.user.getID());
        }
    }

    void licitar() {
        decimal saldo = CurrentUser.saldo;

        if (iniciado && saldo >= input_licitacao && input_licitacao > valor_licitacao_atual) {
            int id_lance;
            bool id_existe;
            do {
                id_lance = new Random().Next(1, 1000000);
                id_existe = db.IDLance_existe(id_lance);
            } while(id_existe);

            Lance lance = new Lance(id_lance, id_leilao, CurrentUser.user.getID(), input_licitacao);
            db.add_Lance(lance);
            db.update_id_lanceAtual(id_leilao, id_lance);

            CurrentUser.saldo -= input_licitacao;
            db.update_saldo(CurrentUser.user.getID(), CurrentUser.saldo); 

            OnInitialized();
        } else {
            licitacao_valida = false;
        }
    }

    void favoritar_leilao() {
        if (!favorito) {
            favorito = true;
            db.favoritar_leilao(id_leilao, CurrentUser.user.getID());
        }
    }

    void desfavoritar_leilao() {
        if (favorito) {
            favorito = false;
            db.desfavoritar_leilao(id_leilao, CurrentUser.user.getID());
        }
    }
}

<PageTitle>Leilão</PageTitle>

<div class="leilao-container">
    @if(!terminado) {
        <h1>Leilão nº @id_leilao</h1>
    } else {
        <h1>Leilão nº @id_leilao (terminado)</h1>
    }

    <div class="leilao-info-container">
        <p class="leilao-descricao">@descricao</p>

        <div style="width: 80%; text-align: left;">
            @if (!terminado) {
                <p><span style="font-weight: bold;">Preço mínimo: </span> @preco_minimo €</p>
            }

            @if(terminado) {
                <p><span style="font-weight: bold;">vendedor :</span> @nome_highest_bidder</p>
                <p><span style="font-weight: bold;">valor final: </span> @valor_licitacao_atual €</p>
            }

            @if(!terminado && licitacao_atual != null) {
                <p><span style="font-weight: bold;">Licitação atual: </span> @valor_licitacao_atual € feita por @nome_highest_bidder</p>
            } else if(!terminado && licitacao_atual == null) {
                <p><span style="font-weight: bold;">Sem licitações</span></p>
            }
        </div>

        <div class="leilao-interacao">
            <div class="leilao-interacao-field">
                @if (iniciado) {
                    <span style="font-weight: bold;">Tempo restante: </span> 
                } else {
                    <span style="font-weight: bold;">Tempo até início: </span> 
                }

                @if(tempo_restante.Days > 0) {
                    <span>@tempo_restante.Days dias</span>
                } else if(tempo_restante.Hours > 0) {
                    <span>@tempo_restante.Hours h:@tempo_restante.Minutes m</span>
                } else {
                    <span>@tempo_restante.Minutes m</span>
                }
            </div>

            <div class="leilao-interacao-field">
                @if (iniciado) {
                    <input type="number" step="0.01" placeholder="valor" @bind="@input_licitacao" />
                } else if (terminado) {
                    <span style="font-weight: bold;">Leilão terminado</span>
                } else {
                    <span style="font-weight: bold;">Leilão ainda não começou</span>
                }
            </div>

            <div class="licitar-button leilao-interacao-field" @onclick="licitar">Licitar</div>

            <div>
                @if (favorito) {
                    <img class="fav-button" src="/imgs/heart.png" @onclick="desfavoritar_leilao" >
                } else {
                    <img class="fav-button" src="/imgs/heart_white.png" @onclick="favoritar_leilao" >
                }
            </div>
        </div>

        @if(!licitacao_valida) {
            <p style="margin-top: 20px; font-weight: bold">Valor da licitação tem de ser superior ao valor atual</p>
        }
    </div>

    <div class="leilao-skins-container">
        @foreach (var skin in skins) {
            string arma = skin.getTipo().ToString();
            string nome_skin = skin.getNome();
            string condicao = skin.getCondicao();
            string raridade = skin.getRaridade().ToString();

            string img = skin.getImagem();
            if (img == null) img = $"/imgs/default_items/{arma}.png";

            <Leilao_card skin_img="@img" id_leilao="@id_leilao" weapon="@arma" skin_name="@nome_skin" condition="@condicao" raridade = "@raridade" preco_maximo="@valor_licitacao_atual" />
        }
    </div>
</div>