@page "/Perfil"

@inject NavigationManager NavigationManager

@code {
    private string nickname = "";
    private string email = "";
    private string telemovel = "";
    private string id = "";
    private string password = "";
    private string password_atual = "";

    private string alterar_nickname = "";
    private string alterar_email = "";
    private string alterar_telemovel = "";
    private string alterar_password = "";

    public bool alterar_dados = false;
    public bool dados_alterados = false;
    public bool password_error = false;

    protected override void OnInitialized()
    {
        put_values();
        base.OnInitialized();
    }

    bool confirmationPopupVisible = false;

    // Function to show the confirmation pop-up
    void showConfirmationPopup()
    {
        confirmationPopupVisible = true;
    }

    // Function to hide the confirmation pop-up
    void hideConfirmationPopup()
    {
        confirmationPopupVisible = false;
    }

    void put_values(){
        Pessoa utilizador = CurrentUser.user;

        if (utilizador != null) {
            nickname = utilizador.getNickname();
            email = utilizador.getEmail();
            telemovel = (utilizador.getTelemovel()).ToString();
            id = (utilizador.getID()).ToString();
        }
    }

    void eliminar(){
        Pessoa utilizador = CurrentUser.user;
        IDatabaseFacade db = new DatabaseFacade();

        db.remove_Pessoa(utilizador.getID());

        CurrentUser.logout();

        NavigationManager.NavigateTo("/", forceLoad:true);
    }

    void alterar_dados_conta(){
        alterar_dados = true;
        password_error = false;
        dados_alterados = false;
        alterar_nickname = "";
        alterar_email = "";
        alterar_telemovel = "";
        alterar_password = "";
        password_atual = "";
    }

    void guardar_alteracoes(){
        IDatabaseFacade db = new DatabaseFacade();
        Pessoa utilizador = CurrentUser.user;
        password = utilizador.getPassword();
        password_error = false;
        if(password != password_atual && (alterar_nickname != "" || alterar_email != "" || alterar_telemovel != "" || alterar_password != ""))
        {
            password_error = true;
        }
        if(alterar_nickname != "" && !password_error)
        {
            nickname = alterar_nickname;
            utilizador.setNickname(nickname);
        }
        if(alterar_email != "" && !password_error)
        {
            email = alterar_email;
            utilizador.setEmail(email);
        }
        if(alterar_telemovel != "" && !password_error)
        {
            telemovel = alterar_telemovel;
            utilizador.setTelemovel(int.Parse(telemovel));
        }
        if(alterar_password != "" && !password_error)
        {
                password = alterar_password;
                utilizador.setPassword(alterar_password);
        }
        if(!password_error)
        {
            alterar_dados = false;
            if(alterar_nickname != "" || alterar_email != "" || alterar_telemovel != "" || alterar_password != "") dados_alterados = true;
            db.add_Pessoa(utilizador);
        }
    }
}

<PageTitle>Perfil</PageTitle>

<div class="title-container">
    <h1 class="profile-page-title">Perfil</h1>
    @if(!CurrentUser.isAdmin && !alterar_dados) {
        <div class="delete-profile" @onclick="() => showConfirmationPopup()">
            <a>
                <p>Eliminar perfil</p>
            </a>
        </div>
    }
</div>

<div class="confirmation-popup" id="confirmation-popup" style="@($"display: {(confirmationPopupVisible ? "block" : "none")};")">
    <div class="popup-content">
        <p>Tem a certeza de que deseja eliminar este perfil?</p>
        <p>@nickname vai ser perdido para sempre! (Muito tempo!)</p>
        <button @onclick="() => { eliminar(); hideConfirmationPopup(); }">Apagar</button>
        <button @onclick="() => hideConfirmationPopup()">Cancelar</button>
    </div>
</div>

<div class="profile-container">
    <div class="profile-info-box">
        @if(!alterar_dados && !CurrentUser.isAdmin) {
            <p class="profile-info">Nickname: @nickname</p>
            <p class="profile-info">E-mail: @email</p>
            <p class="profile-info">Telemóvel: @telemovel</p>
        }

        @if(!alterar_dados && CurrentUser.isAdmin)
        {
            <p class="profile-info">Nickname: Admin</p>
            <p class="profile-info">E-mail: @email</p>
        }

        @if(alterar_dados) {
            <p class="profile-info">
                <label for="nickname">Nickname: </label>
                <input class="edit-info" type="text" placeholder=" @nickname" @bind="@alterar_nickname" />
            </p>

            <p class="profile-info">
                <label for="email">E-mail: </label>
                <input class="edit-input" type="text" placeholder=" @email" @bind="@alterar_email" />
            </p>

            <p class="profile-info">
                <label for="telemovel">Telemóvel: </label>
                <input class="edit-input" type="text" placeholder=" @telemovel" @bind="@alterar_telemovel" />
            </p>
            <p class="profile-info">
                <label for="password nova">Password Nova: </label>
                <input class="edit-input" type="password"  @bind="@alterar_password" />
            </p>
            <p class="profile-info">
                <label for="password atual">Password Atual para autorizar alterações: </label>
                <input class="edit-input" type="password" @bind="@password_atual" />
            </p>

        }

        <p class="profile-info">ID: @id</p>

        @if (password_error){
        <div class="error-message">
                <p>Password Atual não foi verificada, logo dados não podem ser alterados! </p>
            </div>
        }

        @if (dados_alterados){
        <div class="error-message">
                <p>Dados alterados com sucesso! </p>
            </div>
        }

        @if(!alterar_dados && !CurrentUser.isAdmin) {
            <div class="edit-profile" @onclick="@alterar_dados_conta">
                <a>Alterar dados da conta</a>
            </div>
        }

        @if(alterar_dados) {
            <div class="edit-profile" @onclick="@guardar_alteracoes">
                <a>Guardar alterações</a>
            </div>
        }
    </div>

    @if(!CurrentUser.isAdmin && !alterar_dados) {
        <a class="transactions-history-button" href="/transacoes">Histórico de <br> transações</a>
    }
</div>