@page "/Perfil"

@inject NavigationManager NavigationManager

@code {
    private string nickname = "";
    private string email = "";
    private string telemovel = "";
    private string id = "";

    protected override void OnInitialized()
    {
        put_values();
        base.OnInitialized();
    }

    void put_values(){
        Pessoa utilizador = CurrentUser.user;

        nickname = utilizador.getNickname();
        email = utilizador.getEmail();
        telemovel = (utilizador.getTelemovel()).ToString();
        id = (utilizador.getID()).ToString();
    }

    void eliminar(){
        Pessoa utilizador = CurrentUser.user;
        IDatabaseFacade db = new DatabaseFacade();

        db.remove_Pessoa(utilizador.getID());

        CurrentUser.logout();

        NavigationManager.NavigateTo("/", forceLoad:true);
    }
}

<PageTitle>Perfil</PageTitle>

<div class="title-container">
    <h1 class="profile-page-title">Perfil</h1>

    <div class="delete-profile" @onclick="@eliminar">
        <a>
            <p>Eliminar perfil</p>
        </a>
    </div>
</div>

<div class="profile-container">
    <div class="profile-info-box">
        <p class="profile-info">Nickname: @nickname</p>
        <p class="profile-info">E-mail: @email</p>
        <p class="profile-info">Telemóvel: @telemovel</p>
        <p class="profile-info">ID: @id</p>

        <div class="edit-profile">
            <a>Alterar dados da conta</a>
        </div>
    </div>

    <div class="transactions-history-button">
        <a>Histórico de <br> transações</a>
    </div>
</div>